<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jwho.lifenoteflip.app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <service android:name="com.jwho.lifenoteflip.service.EvernoteService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"/>
        <activity
            android:name="com.jwho.lifenoteflip.app.LifeNoteMain"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Base" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.jwho.lifenoteflip.app.LifeNoteBare"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <provider
            android:authorities="com.jwho.lifenoteflip.appactivities.contentprovider"
            android:name="com.jwho.lifenoteflip.service.AppLogProvider" />
    </application>
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
